In [ ]:
from google.colab import files
files.upload()

In [2]:
! mkdir ~/.kaggle

In [3]:
! cp kaggle.json ~/.kaggle

In [4]:
! chmod 600 ~/.kaggle/kaggle.json

In [5]:
!kaggle datasets download -d jaytilala/padma-awardees

Downloading padma-awardees.zip to /content
  0% 0.00/74.0k [00:00<?, ?B/s]
100% 74.0k/74.0k [00:00<00:00, 27.7MB/s]

In [7]:
import zipfile
unzip = zipfile.ZipFile("padma-awardees.zip", "r")
unzip.extractall()
unzip.close()

In [8]:
import pandas as pd

data = pd.read_csv("padmaawards.csv")

data.head()

                                Name            Award  ... State/Country  Year
0       Dr. Sarvapalli Radhakrishnan     Bharat Ratna  ...    Tamil Nadu  1954
1   Shri Chakravarti Rajagopalachari     Bharat Ratna  ...    Tamil Nadu  1954
2  Shri Chandrasekhara Venkata Raman     Bharat Ratna  ...    Tamil Nadu  1954
3            Dr. Satyendra Nath Bose  Padma Vibhushan  ...   West Bengal  1954
4                   Dr. Zakir Husain  Padma Vibhushan  ...     Telangana  1954

[5 rows x 5 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4875 entries, 0 to 4874
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           4875 non-null   object
 1   Award          4875 non-null   object
 2   Field          4875 non-null   object
 3   State/Country  4875 non-null   object
 4   Year           4875 non-null   int64
dtypes: int64(1), object(4)
memory usage: 190.6+ KB

In [10]:
data.isnull().sum()

Name             0
Award            0
Field            0
State/Country    0
Year             0
dtype: int64

In [16]:
# award winner by name

def award_winner_by_name(name):
  winner = data[data["Name"] == str(name)]

  winner = winner[["Award", "Field","Year"]]
  
  winner = winner.sort_values(by= "Year", ascending = False)

  return winner

In [19]:
award_winner_by_name("Dr. Sarvapalli Radhakrishnan")

          Award           Field  Year
0  Bharat Ratna  Public Affairs  1954

In [20]:
# award winner in a given year

def award_winner_by_year(year):
  winner = data[data["Year"] == int(year)]

  winner = winner[["Name","Award","Field","State/Country"]]

  return winner

In [21]:
award_winner_by_year(1999)

                                    Name  ...   State/Country
2406                 Pandit Ravi Shankar  ...             USA
2407                   Prof. Amartya Sen  ...  United Kingdom
2408     Shri Gopinath (posth.) Bordoloi  ...           Assam
2409  Shri Jayaprakash  (Posth.) Narayan  ...           Bihar
2410          Dr. Rajagopala Chidambaram  ...     Maharashtra
...                                  ...  ...             ...
2467                  Smt. Shayama Chona  ...           Delhi
2468            Smt. Shobha Deepak Singh  ...           Delhi
2469    Smt. Sulochana Shankarrao Latkar  ...     Maharashtra
2470              Vaidya Balendu Prakash  ...     Uttarakhand
2471             Vaidya Devendra Triguna  ...           Delhi

[66 rows x 4 columns]

In [22]:
# award winner by field

def award_winner_by_field(field):
  winner = data[data["Field"] == str(field)]

  winner = winner[["Award", "Name","Year"]]

  winner = winner.sort_values(by="Year", ascending = False)

  return winner

In [24]:
award_winner_by_field("Medicine")

                Award                                          Name  Year
4870       Padma Shri  Dr. Thiruvengadam Veeraraghavan (Posthumous)  2021
4835       Padma Shri                       Dr. Krishna Mohan Pathi  2021
4758  Padma Vibhushan                       Dr. Belle Monappa Hegde  2021
4828       Padma Shri                         Dr. Rattan Lal Mittal  2021
4832       Padma Shri                    Dr. J N Pande (Posthumous)  2021
...               ...                                           ...   ...
68         Padma Shri                          Dr. Siddha Nath Kaul  1955
33         Padma Shri                                Dr. Mathra Das  1954
32         Padma Shri                           Dr. Bir Bhan Bhatia  1954
34         Padma Shri                    Dr. Vasant Ramji Khanolkar  1954
27      Padma Bhushan                   Shri Satya Narayana Shastri  1954

[590 rows x 3 columns]

In [25]:
# award type

def award_winner_type(award):
  winner = data[data["Award"] == str(award)]

  winner = winner[["Name","Field","Year"]]

  winner = winner.sort_values(by="Year", ascending = False)

  return winner

In [26]:
award_winner_type("Bharat Ratna")

                                     Name                     Field  Year
4503                Shri Pranab Mukherjee            Public Affairs  2019
4502     Dr. Bhupen Hazarika (Posthumous)                       Art  2019
4501    Shri Nanaji Deshmukh (Posthumous)               Social Work  2019
4113            Shri Atal Bihari Vajpayee            Public Affairs  2015
4112          Pandit Madan Mohan Malaviya            Public Affairs  2015
3985         Shri Sachin Ramesh Tendulkar                    Sports  2014
3984                   Prof. C. N. R. Rao   Science and Engineering  2014
3376         Pandit Bhimsen Gururaj Joshi                       Art  2009
2548                 Ustad Bismillah Khan                       Art  2001
2547        Kum. Lata Dinanath Mangeshkar                       Art  2001
2407                    Prof. Amartya Sen  Literature and Education  1999
2406                  Pandit Ravi Shankar                       Art  1999
2409   Shri Jayaprakash  (Posth.) Narayan            Public Affairs  1999
2408      Shri Gopinath (posth.) Bordoloi            Public Affairs  1999
2351               Smt. M.S. Subbulakshmi                       Art  1998
2350         Shri Chidambaram Subramaniam            Public Affairs  1998
2349        Smt. Aruna Asaf  (Posth.) Ali            Public Affairs  1997
2348               Shri Gulzari Lal Nanda            Public Affairs  1997
2347               Dr. A.P.J. Abdul Kalam   Science and Engineering  1997
2216                    Shri Satyajit Ray                       Art  1992
2215  Shri Jehangir Ratanji Dadabhai Tata        Trade and Industry  1992
2214              Maulana Abul Kalam Azad            Public Affairs  1992
2098                    Shri Rajiv Gandhi            Public Affairs  1991
2097        Shri Morarji Ranchhodji Desai            Public Affairs  1991
2096             Sardar Vallabhbhai Patel            Public Affairs  1991
1996        Dr. Nelson Rolihlahla Mandela            Public Affairs  1990
1995           Dr. Bhimrao Ramji Ambedkar            Public Affairs  1990
1907    Shri Marudur Gopalan Ramachandran            Public Affairs  1988
1858              Khan Abdul Ghaffar Khan               Social Work  1987
1601            Shri Acharya Vinoba Bhave               Social Work  1983
1512          Mother Mary Bojaxhiu Teresa               Social Work  1980
1375              Shri Kumaraswamy Kamraj            Public Affairs  1976
1308                       Shri V.V. Giri            Public Affairs  1975
860                    Smt. Indira Gandhi            Public Affairs  1971
475              Shri Lal Bahadur Shastri            Public Affairs  1966
342              Dr. Pandurang Vaman Kane               Social Work  1963
343                      Dr. Zakir Husain            Public Affairs  1963
286                   Dr. Rajendra Prasad            Public Affairs  1962
246           Shri Purushottam Das Tandon            Public Affairs  1961
245               Shri Bidhan Chandra Roy            Public Affairs  1961
141               Dr. Dhondo Keshav Karve               Social Work  1958
105              Shri Govind Ballabh Pant            Public Affairs  1957
51                   Pt. Jawaharlal Nehru            Public Affairs  1955
50                    Dr. M. Visvesvaraya             Civil Service  1955
49                        Dr. Bhagwan Das  Literature and Education  1955
2       Shri Chandrasekhara Venkata Raman   Science and Engineering  1954
1        Shri Chakravarti Rajagopalachari            Public Affairs  1954
0            Dr. Sarvapalli Radhakrishnan            Public Affairs  1954